{% load staticfiles i18n%}
{% include 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Sistema Gamificado de estadísticas para GitHub</h2>
                <ul>
                    <li>Consigue nivel y experiencia</li>
                    <li>Gana logros</li>
                    <li>Suma puntos y asciende en el ranking</li>
                    <li>Mide tu productividad de forma gamificada y divertida</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock body %}