{% extends 'base.html' %}
{% load staticfiles i18n thumbnail %}

{% block extra_head %}
    <meta property="og:title" content="GitGaming - Your Code, Your Game" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="http://www.gitgaming.com/" />
    <meta property="og:site_name" content="GitGaming" />
    <meta property="og:image" content="{% static 'img/logo.png' %}" />
{% endblock extra_head %}

{% block header %}

<div class="intro-header" style="background-image:url({% static 'img/slider/slider_2.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="intro-message">
                    <div class="col-xs-8">
                        <h1>GIT GAMING</h1>
                        <h3>YOUR CODE, YOUR GAME</h3>
                        <h4 class="hidden-sm hidden-xs">
                            {% blocktrans %}
                                Earn badges, level up, improve as developer, be more productive... <br> Gamified statistics
                                system for your public repositories on GitHub!
                            {% endblocktrans %}
                        </h4>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                        {% if user and not user.is_anonymous %}
                              <li>
                                <a href="{% url 'user_detail' user %}" class="btn btn-default btn-default btn-lg"><i class="fa fa-user"></i> <span class="network-name">{% trans 'My Profile' %}</span></a>

                            </li>

                        {% else %}
                            <li>
                                <a href="{% url 'social:begin' 'github' %}?next={{ request.path }}" class="btn btn-default btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">{% trans 'Start using GitGaming' %}</span></a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                    <div class="col-xs-4"><img class="animated fadeIn img-responsive" src="{% static 'img/badges.png' %}"></div>
                </div>
            </div>
        </div>

    </div>
            <!-- /.container -->

</div>
{% endblock header %}

{% block body %}

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans 'Last Badges' %}</h2>
                    <h3>{% blocktrans %}These are our 3 last badges. Can you get them? {% endblocktrans %}</h3>
                 <table class="table ">

                    <tbody>
                        {%  for badge in last_badges %}
                            <tr>

                                <td>{{ badge.name }}</td>
                                {% thumbnail badge.image 50x50 crop detail upscale as badge_image %}
                                <td><img src="{{ badge_image.url }}"></td>
                                <td>{{ badge.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans 'We love Open Source' %}</h2>
                </div>
            </div>
            <div class="row text-center" style="margin-bottom: 20px">
                <div class=" hidden-xs fb-like-box" data-href="https://www.facebook.com/playgitgaming" data-width="500" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
                <a class="twitter-timeline" href="https://twitter.com/GitGaming" data-widget-id="589152870634774528">Tweets por el @GitGaming.</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="animated fadeIn fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{% trans 'Custom Profile' %}</h4>
                    <p class="text-muted">
                        {% blocktrans %}
                            All the information about your profile (badges, level, experience, titles, etc) will be
                            available in your custom profile. Check your Header image and share it with your friends!
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="animated fadeIn fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{% trans 'Improve your coding' %}</h4>
                    <p class="text-muted">
                        {% blocktrans %}
                            You will get better rewards if you have a clean code. Make tests or participate
                            in others repositories to get more badges and experience!
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="animated fadeIn fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{% trans 'Be competitive' %}</h4>
                    <p class="text-muted">
                        {% blocktrans %}
                            Keep improving while you try to be the best developer of GG. Compare your position in
                            our ranking and stats.
                        {% endblocktrans %}
                    </p>
                </div>

            </div>
        </div>

{% endblock body %}

{% block extra_body %}
{% endblock extra_body %}