{% extends "zinnia:zinnia/entry_detail_base.html" %}
{% load i18n zinnia %}

{% block entry-widgets %}
<aside class="entry-widgets" role="complementary">
  {% block entry-related-entries %}
  {% with entry_related=object.related_published %}
  {% if entry_related %}
  <div class="entry-related panel panel-default">
    <div class="panel-heading">
      {% trans "Related entries" %}
    </div>
    <ul class="list-group">
      {% for entry in entry_related %}
      <li class="list-group-item">
	<a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}
  {% endblock entry-related-entries %}
  {% block entry-similar-entries %}

  {% endblock entry-similar-entries %}
  {% block entry-previous-next-entries %}
  <div class="entry-prev-next">
    <ul class="pager">
      {% with next_entry=object.next_entry %}
      {% if next_entry %}
      <li class="next">
        <a href="{{ next_entry.get_absolute_url }}" title="{{ next_entry.title }}" rel="next">
          {{ next_entry.title }} &rarr;
        </a>
      </li>
      {% endif %}
      {% endwith %}
      {% with previous_entry=object.previous_entry %}
      {% if previous_entry %}
      <li class="previous">
        <a href="{{ previous_entry.get_absolute_url }}" title="{{ previous_entry.title }}" rel="prev">
          &larr; {{ previous_entry.title }}
        </a>
      </li>
      {% endif %}
      {% endwith %}
    </ul>
  </div>
  {% endblock entry-previous-next-entries %}
</aside>
{% endblock entry-widgets %}

{% block entry-pingbacks %}
{% if object.pingback_count %}
<section id="pingbacks" class="panel panel-info">
  <div class="panel-heading">
    {% trans "Pingbacks" %}
  </div>
  {% with pingback_list=object.pingbacks %}
  {% block pingbacks-loop %}
  {% endblock pingbacks-loop %}
  {% endwith %}
</section>
{% endif %}
{% block pingbacks-status %}
{% endblock pingbacks-status %}
{% endblock entry-pingbacks %}

{% block entry-trackbacks %}
{% if object.trackback_count %}
<section id="trackbacks" class="panel panel-info">
  <div class="panel-heading">
    {% trans "Trackbacks" %}
  </div>
  {% with trackback_list=object.trackbacks %}
  {% block trackbacks-loop %}
  <ol id="trackback-list" class="list-group">
    {% for trackback in trackback_list %}
    <li id="trackback-{{ trackback.pk }}" class="trackback vcard list-group-item {% cycle box1,box2 %}">
      {% block trackback-info %}
      <p class="trackback-info">
	<a href="{{ trackback.url }}" rel="external nofollow"
           class="fn url org">{{ trackback.name }}</a>
	{% trans "on" context "on date" %}
        <abbr class="trackback-published" title="{{ trackback.submit_date|date:"c" }}">
          {{ trackback.submit_date|date:"SHORT_DATETIME_FORMAT" }}
        </abbr>
        <a href="#trackback-{{ trackback.pk }}"
           id="c{{ trackback.pk }}" class="anchor-link"
           title="{% trans "Direct link to this trackback" %}">#</a>
      </p>
      {% endblock trackback-info %}
      {% block trackback-content %}
      <p class="trackback-content">
	{{ trackback.comment }}
      </p>
      {% endblock trackback-content %}
    </li>
    {% endfor %}
  </ol>
  {% endblock trackbacks-loop %}
  {% endwith %}
</section>
{% endif %}
{% block trackbacks-status %}
{% endblock trackbacks-status %}
{% endblock entry-trackbacks %}

{% block entry-comments %}
<div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'gitgaming';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock entry-comments %}

{% block admin-tools %}
{% if perms.zinnia.change_entry %}
<li class="list-group-item">
  <a href="{% url 'admin:zinnia_entry_change' object.pk %}" title="{% trans "Edit the entry" %}">
    <span class="glyphicon glyphicon-edit"></span>
    {% trans "Edit the entry" %}
  </a>
</li>
{% endif %}
{% endblock admin-tools %}
