{% extends 'base.html' %}
{% load staticfiles i18n thumbnail %}


{% block title %}{{ object }} - {% trans 'Profile' %} GitGaming{% endblock title %}

{% block header %}
    <meta property="og:title" content="{{ object }} {% trans 'Profile' %} GitGaming " />
    <meta property="og:description" content="{{ object }} {% trans 'profile in GitGaming. Check badges, level and much more!' %}" />
    <meta property="og:site_name" content="GitGaming" />
    <meta property="og:image" content="{{ object.avatar }}" />
{% endblock header %}

{% block extra_head %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
<style>
    .alert-badge {
        color: #222222;
        background-color: #F5F5F5;
        border-color: #CDCDCD;
    }
</style>
{% endblock extra_head %}

{% block body %}
    <div class="container profile-container">
        <div class="row">

        {% if object.profile.header %}
            {% thumbnail object.profile.header 1170x300 box=object.profile.header_cropping crop detail upscale as header %}
        {% endif %}

        <div class="header" {% if object.profile.header %}style="background-image:url('{{header.url}}')"{% endif %}>

           {% comment %}     <div class="bio-box"><p>{{ object.profile.bio }}</p></div> {% endcomment %}

            <div class="avatar-wrapper">
               <img style="height:175px" class="avatar img-responsive" src="{{ object.avatar }}">
            </div>
        </div>
            <div class="col-md-12">
                <div class="profile-title row">
                    <h2>{{ object.githubuser }} - {{ object.profile.title }}</h2>
                </div>
            </div>
            <div class="col-md-3">

                <h4> {% trans 'Level' %}: {{ object.level }}</h4>
                <h4> {% trans 'Experience' %}:</h4>
                <div class="circle text-center" id="circles-1"></div>
                <hr>
                    <h3>{% trans 'Skills' %}</h3>
                    <canvas id="myChart" width="200" height="200"></canvas>
                {% if object.profile.website %}
                    <p><a href="{{ object.profile.website }}">{% trans 'Personal Website' %}</a></p>
                {% endif %}
                <h4> {{ object.repos }} {% trans 'repositories in the inventory' %} </h4>
            </div>

            <div class="col-md-9">
                <br>
                <div class="alert alert-warning text-center" role="alert">
                    {% blocktrans %}
                        Because this is an Alpha Version, we are calculating your badges right know.
                        If you want to see last changes, wait some minutes and reload the page. We are working to improve this.
                        Sorry for any inconvenience!
                    {% endblocktrans %}
                </div>
                <h3>{% trans 'Last Badges' %}</h3>

                    {% for achievement in badges %}
                        <div class="row ">
                            <div class="animated fadeIn alert alert-badge col-sm-8 col-sm-offset-2 text-center">
                                {% thumbnail achievement.badge.image 75x75 crop detail upscale as badge %}
                                    <img class="img-responsive" style="float:left" src="{{ badge.url }}">
                                    {{ achievement.badge.description }}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}

{% block extra_body %}
    <script src="{% static 'js/circles.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/Chart.Radar.js' %}"></script>
    <script type="text/javascript">
    var myCircle = Circles.create({
          id:           'circles-1',
          radius:       60,
          value:        parseFloat({{ object.experience }}),
          maxValue:     100,
          width:        10,
          text:         function(value){return value + '%';},
          colors:       ['#cbeafc', '#00a1fd'],
          duration:       600,
          wrpClass:     'circles-wrp',
          textClass:    'circles-text',
          styleWrapper: true,
          styleText:    true
        });
        var data = {
            labels: ["Leader", "Social", "Solver", "Famous", "Contributor"],
            datasets: [
                {
                    label: "Skills",
                    fillColor: "rgba(255,187,205,0.4)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [
                        {{ object.profile.followers }},
                        {{ object.profile.following }},
                        {{ object.profile.solver }},
                        {{ object.profile.stars }},
                        {{ object.profile.forks }}
                    ]
                }
            ]
        };
        options = {
            scaleShowLabels : false,
            scaleLineColor: "rgba(0,0,0,.4)"

        }
        Chart.defaults.global.responsive = true;
        var ctx = $("#myChart").get(0).getContext("2d");
        var myRadarChart = new Chart(ctx).Radar(data, options);

    </script>
{% endblock extra_body %}
