{% extends 'base.html' %}
{% load staticfiles i18n thumbnail %}


{% block title %}{{ user }} {% trans '- Profile' %} GG{% endblock title %}

{% block header %}
{% endblock header %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1></h1>
            {% thumbnail object.avatar 150x150 as thumb %}
            {{ thumb.url }}
                <img src=''>
                <div class="avatar"><img class="img-responsive" src="{{ object.avatar }}"></div>
                <h2>{{ object.githubuser }}</h2>
                <h4> {% trans 'Experiencia' %}: {{ object.experience }}</h4>
                <h4> {% trans 'Nivel' %}: {{ object.level }}</h4>

                {% if user == object.user %}
                    <a>Administrar perfil</a>
                {% endif %}
            <h3>¡Tienes {{ object.repos }} repositorios en tu inventario!</h3>

            </div>

             <div class="col-md-9">
                <h1>{% trans 'Datos' %}</h1>
                 -- No data --
            </div>
        </div>
    </div>
{% endblock body %}