{% extends 'base.html' %}
{% load staticfiles i18n thumbnail %}


{% block title %}{{ user }} - {% trans 'Profile' %} Edit Profile{% endblock title %}

{% block header %}
{% endblock header %}

{% block extra_head %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock extra_head %}


{% block body %}
    <div class="container profile-container">
        <div class="row">
        {% if object.header %}
            {% thumbnail object.header 1170x300 box=object.header_cropping crop detail upscale as header %}
        {% endif %}

        <div class="header" {% if object.header %}style="background-image:url('{{header.url}}')"{% endif %}>
            <div class="avatar-wrapper">
               <img style="height:175px" class="avatar img-responsive" src="{{ object.dev_user.avatar }}">
            </div>
        </div>
            <div class="col-md-12">
                {{ object.profile.header_cropping }}

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Editar" class="btn btn-default"/>
                </form>

            </div>


        </div>
    </div>
{% endblock body %}