#dev_options input[type="text"], #dev_options textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;

    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);

    }

#dev_options textarea {
    width: 400px;
    max-width: 400px;
    max-height: 150px;
    line-height: 150%;
    }

#dev_options input:hover, #dev_options textarea:hover,
#dev_options input:focus, #dev_options textarea:focus {
    border-color: #C9C9C9;

    }

.form label {
    margin-left: 10px;
    margin-right: 10px;
    color: #999999;
    }
