.navbar-default {
    background-color: white !important;
    border-bottom: 1px solid #269abc;
}

.navbar {
    height: 60px;
}
#navbar {
    background-color: white;
}
.navbar-brand {
    padding-top: 10px !important;
}

.navbar-default .navbar-nav>li>a {
    padding-top: 20px;
    height: 59px;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

.flag {
    border: 1px solid transparent;
}

.selected {
    border: 1px solid black;
}


