body {
    background: #f0f0f0;
}

.profile-title {
    padding-left: 230px;
    height: 60px;
    background: white;
    border-bottom: 1px solid #269abc;
}

.profile-container {
    margin-top: 56px;
    padding-bottom: 30px;
    background: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
}

.header {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 300px;
    background: #245269;
    border-bottom: 1px solid #cccccc;
}

.avatar {
    border: 6px solid white;
    border-radius: 16px;
}

.avatar-wrapper {
    z-index: 2;
    position: absolute;
    margin-top: 180px;
    margin-left: 40px;
    width: 177px;

}

.navbar {
    font-weight: 700;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

h3,h4 {
    text-shadow: 0px 0px 0px rgba(0,0,0,0.6);
}

/* Another IDEA
.profile-info {
    width: 400px;
    background-color: rgba(48, 48, 48, 0.5);
    margin-top: 114px;
    margin-left: 40px;
    position: absolute;
}*/

